body {
	background-color: #000;
	
}

.bg_1 {
	background-image: url('../images/designbackground.png');
	background-size: contain;

}

.bg_2 {
	background-image: url('../images/sanfrancisco.jpg');
	background-size: contain;
	
}

.bg_3 {
	
}

main {
	margin: auto;
	width:75%;
	background-color: green;
}

#left {
	background-color: white;
	width: 40%;
	float: left;
	padding: 10px;
	margin: 0px 30px 50px 40px;
}

#right {
	background-color: pink;
	width: 40%;
	float: left;
	padding: 30px;
	margin: 0px 20px 40px 30px;
}

